body{
  background-color: #282c34;
  /* overflow-x: hidden; */

}

.header{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.money{
  width:5%;
}

.heading{
  padding: 1.5%;
  color:whitesmoke;
  font-family: cursive;
}

.date{
  font-family: cursive;
}
.base-group{
  display: block;
  /* text-align: center; */
  padding: 1%;
  padding-left: 30%;
  padding-right: auto;
  margin: 1%;
  background-color: rgb(6, 2, 15);
  font-weight: 600;
  font-size: larger;
}

.base{
  padding: 0.5%;
  padding-left: 1%;
  text-align: left;
}

.base-title{
  /* color:white; */
  font-weight: 500;

}

.base-name{
  font-weight: 500;
  font-size: smaller;
  margin:0.5%;
}
.base-currency{
  font-weight: 700;
  font-size: larger;
  /* color: red; */
}
.base-currency-symbol{
  /* margin:   auto; */
  margin: 0.5%;
  font-weight: 500;

}

.from{
  /* background-color: rgb(115, 245, 133); */
  padding: 0.5%;
  text-align: left;
}

.from-name{
  font-weight: 500;
  font-size:smaller;
  margin:0.5%;
}
.from-currency{
  font-weight: 700;
  font-size: larger;
  /* color: green; */
}
.from-currency-symbol{
  /* margin:   auto; */
  font-weight: 500;
  margin: 0.5%;
}
.fromAmt{
  /* background-color: red; */
  /* color: red; */
  font-weight: 800;
  font-size: larger;
}
.to{
  /* background-color: rgb(185, 233, 241); */
  padding: 0.5%;
  text-align: left;
}

.to-name{
  font-weight: 500;
  font-size:smaller;
  margin:0.5%;
}
.to-currency{
  font-weight: 700;
  font-size: larger;
  /* color: #007bff; */
}
.to-currency-symbol{
  /* margin:   auto; */
  font-weight: 500;
  margin: 0.5%;
}
.toAmt{
  /* background-color: green; */
  /* color: green; */
  font-weight: 800;
  font-size: larger;
}


.sym{
  background-color: #282c34;
  border: 1px solid;
  color: aqua;
  font-size: large;
  font-weight: 500;
}
.sym-input{
  background-color: #282c34;
  border: 1px solid ;
  color: red;
  font-size: large;
  font-weight: 500;
}
.sym-output{
  background-color: #282c34;
  border: 1px solid;
  color: greenyellow;
  font-size: large;
  font-weight: 500;
}